<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Video Game Forums</title>
</head>
<body>
<div class="top">
    <h1>Video Game Forums</h1>
    <nav>
        <ul>
            <li class="left" ><a href="/">Home</a></li>
            <li class="left" ><a href="/board">Message Board</a></li>
            {% if current_user.is_authenticated == False %}
                <li class="right"><a class="active" href="/login">Log In</a></li>
                <li class="right"><a href="/signup">Sign Up</a></li>
            {% else %}
                <li class="right"><a href="/logout">Log Out</a></li>
                <li class="right"><a href="/users/{{current_user.get_id()}}">Profile</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<br>
<p class="head">Sign in to your account here! If you don't already have an account,
    you can sign up <a href="/signup">here</a></p>
<br>
<form method="POST" action="{{url_for('main.login')}}">
    {{ form.hidden_tag() }}
    <br>
    {{ form.username.label }} {{ form.username() }}
    <br>
    {{ form.password.label }} {{ form.password() }}
    <br><br>
    {{ form.rememberme.label }} {{ form.rememberme() }}
    <br><br>
    {{ form.submit() }}
</form>
<br>
{% for message in get_flashed_messages() %}
<p class="head">{{ message }}</p>
<br>
{% endfor %}
</body>
</html>