<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Video Game Forums</title>
</head>
<body>
<div class="top">
    <h1>Video Game Forums</h1>
    <nav>
        <ul>
            <li class="left" ><a href="/">Home</a></li>
            <li class="left" ><a href="/board">Message Board</a></li>
            {% if current_user.is_authenticated == False %}
                <li class="right"><a href="/login">Log In</a></li>
                <li class="right"><a href="/signup">Sign Up</a></li>
            {% else %}
                <li class="right"><a href="/logout">Log Out</a></li>
                <li class="right"><a href="/users/{{current_user.get_id()}}">Profile</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<br>
<h2 class="error">404- Page Not Found</h2>
</body>
</html>