<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script src="{{ url_for('static', filename = 'js/scrollscript.js') }}"></script>
    <title>Video Game Forums</title>
</head>
<body>
<div class="top">
    <h1>Video Game Forums</h1>
    <nav>
        <ul>
            <li class="left" ><a href="/">Home</a></li>
            <li class="left" ><a class="active" href="/board">Message Board</a></li>
            {% if current_user.is_authenticated == False %}
                <li class="right"><a href="/login">Log In</a></li>
                <li class="right"><a href="/signup">Sign Up</a></li>
            {% else %}
                <li class="right"><a href="/logout">Log Out</a></li>
                <li class="right"><a href="/users/{{current_user.get_id()}}">Profile</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<br>
<a class="postbuttonlink" href="/newpost"><button class="postbutton">New Post</button></a>
<br>
{% if totalposts == 0 %}
    <h2 class="noposts">There are no posts yet!</h2>
{% endif %}
{% for i in range(totalposts) %}
    <div class="post" id="post{{i}}">
        <h2 id="title{{i}}" class="title{{i}}"></h2>
        <p class="subtitle" id="subtitle{{i}}"></p>
        <br>
        <p class="content" id="content{{i}}"></p>
        <br>
        <p class="subtitle" id="comment{{i}}"></p>
    </div>
    <br>
{% endfor %}
</body>
</html>