<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Video Game Forums</title>
</head>
<body>
<div class="top">
    <h1>Video Game Forums</h1>
    <nav>
        <ul>
            <li class="left" ><a class="active" href="/">Home</a></li>
            <li class="left" ><a href="/board">Message Board</a></li>
            {% if current_user.is_authenticated == False %}
                <li class="right"><a href="/login">Log In</a></li>
                <li class="right"><a href="/signup">Sign Up</a></li>
            {% else %}
                <li class="right"><a href="/logout">Log Out</a></li>
                <li class="right"><a href="/users/{{current_user.get_id()}}">Profile</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<br>
<img class="homeimage" src="{{ url_for('static', filename = 'images/videogames.jpg') }}">
<br>
<p class="hometext">Hello! This is a video game community forum page where users can sign up for accounts and post
    messages on our message. Click the links above to view the full message board and access your account,
    where we hope you can have fun and engaging discussions about your favorite video games! The image above is
    sourced from unsplash.com.</p>
<br>
<p class="recent">Check out our most recent post! <a class="postlink" href="{{id}}">{{title}}</a></p>
</body>
</html>