<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script src="{{ url_for('static', filename = 'js/pagescript.js') }}"></script>
    <title>Video Game Forums</title>
</head>
<body onload="displayFirst()">
<div class="top">
    <h1>Video Game Forums</h1>
    <nav>
        <ul>
            <li class="left" ><a href="/">Home</a></li>
            <li class="left" ><a href="/board">Message Board</a></li>
            {% if current_user.is_authenticated == False %}
                <li class="right"><a href="/login">Log In</a></li>
                <li class="right"><a href="/signup">Sign Up</a></li>
            {% else %}
                <li class="right"><a href="/logout">Log Out</a></li>
                {% if current_user.get_id() == username %}
                    <li class="right"><a class="active" href="/users/{{current_user.get_id()}}">Profile</a></li>
                {% else %}
                    <li class="right"><a href="/users/{{current_user.get_id()}}">Profile</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>
<br>
<div class="profilediv">
    {% if username != None %}
        <h2>{{username}}'s Profile:</h2>
        <br>
        <p class="profile">Username: {{username}}</p>
        <p class="profile">First Name: {{firstname}}</p>
        <p class="profile">Last name: {{lastname}}</p>
        {% if current_user.get_id() == username %}
            <p class="profile">Email Address: {{email}}</p>
        {% endif %}
        <p class="profile">Join Date: {{joindate}}</p>
        <p class="profile">Number of Posts: {{postcount}}</p>
        <p class="profile">Recent Posts:</p>
        <br>
        <div class="recentposts">
            {% for i in range(pagecount) %}
                <div class="pages" id="page{{i}}">
                    {% for j in range(min(postcount-i*5, 5)) %}
                        <p class="postlist"><a class="postlink" href="/posts/{{postids[i*5+j]}}">{{posts[i*5+j]}}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="leftright">
                <p id="status"></p>
                <button class="control" onclick="prevPage()">Prev&nbsp;</button>
                <button class="control" onclick="nextPage()">&nbsp;Next</button>
            </div>
        </div>
    {% else %}
        <h2>User does not exist</h2>
    {% endif %}
</div>
</body>
</html>